/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.site-nav .link:hover, .site-nav .link:focus, .contact .link:hover, .contact .link:focus, .mail-block:hover .us, .mail-block:focus-within .us,
.phone-block:hover .us, .phone-block:focus-within .us, .mail-block:hover .contact-icon, .mail-block:focus-within .contact-icon,
.phone-block:hover .contact-icon, .phone-block:focus-within .contact-icon {
  color: #2196f3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button, .subscribe-button, .submit-btn, .nav-button .button:hover, .nav-button .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}

body {
  color: #212121;
  font-family: #212121;
  letter-spacing: 0.03rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 26px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.logo {
  display: block;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.accent {
  color: #2196f3;
}

.nav .logo .link, .footer .logo .link {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .nav .logo .link, .footer .logo .link {
    font-size: 28px;
    line-height: 1.18;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.page-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

@media screen and (max-width: 1199px) {
  .page-header .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .page-header .nav {
    min-height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #212121;
  display: block;
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    margin-bottom: 40px;
  }
  .site-nav .link :last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    font-size: 14px;
    line-height: 1.6;
  }
}

.site-nav .us {
  color: #212121;
  display: block;
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 305px;
  }
}

.contact-icon {
  margin-right: 10px;
  fill: #757575;
}

.us {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: #757575;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .us {
    font-size: 14px;
    line-height: 1.14;
  }
}

.link.current {
  display: inline-block;
  color: #2196f3;
  position: relative;
}

.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 44px;
  background: #2196f3;
  border-radius: 2px;
}

.mail-block:hover .us, .mail-block:focus-within .us,
.phone-block:hover .us, .phone-block:focus-within .us, .mail-block:hover .contact-icon, .mail-block:focus-within .contact-icon,
.phone-block:hover .contact-icon, .phone-block:focus-within .contact-icon {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .mail-block {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .mail-block {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .mail-block {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .phone-block {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .phone-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover {
  fill: #2196f3;
}

.menu-button .icon-menu {
  display: block;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-container {
    text-align: center;
    padding: 60px 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
    z-index: 100;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-hero {
  text-align: center;
  background-color: #2f303a;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-hero {
    margin-bottom: 94px;
  }
}

.hero {
  padding-top: 118px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06rem;
  text-decoration: none;
}

.order {
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .order {
    padding-bottom: 200px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header-450@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header-450@1x.jpg);
  background-color: rgba(47, 48, 58, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-450@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-450@1x.jpg");
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-450@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-450@2x.jpg");
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 768px) and (min-resolution: 96dpi), screen and (min-width: 768px) and (min-resolution: 1dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-768@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-768@1x.jpg");
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-768@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-768@2x.jpg");
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 1200px) and (min-resolution: 96dpi), screen and (min-width: 1200px) and (min-resolution: 1dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-1600@1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-1600@1x.jpg");
    background-color: rgba(47, 48, 58, 0.8);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/header-1600@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/header-1600@2x.jpg");
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.feature .title, .feature .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .feature .title, .feature .subtitle {
    text-align: center;
  }
}

.feature .text {
  margin-top: 0;
  margin-bottom: 0px;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .feature .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature .item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.feature-icon {
  text-align: center;
  padding: 25px 0;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .feature-icon {
    max-width: 450px;
  }
}

.features .title {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .features .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.services .feature .content {
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.service-item {
  position: relative;
}

.service-item:not(:last-child) {
  margin-right: 30px;
}

.feature .subtitle {
  display: block;
  text-align: center;
  padding: 27px;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  text-decoration: none;
}

.feature .subtitle:hover, .feature .subtitle:focus {
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subtitle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.team .section-title, .clients .section-title {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .team .section-title, .clients .section-title {
    padding-top: 94px;
  }
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team .item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .team .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .team .link {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team-content {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team-member, .profession {
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature .team-member, .feature .profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member {
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 500;
}

.profession {
  padding-bottom: 16px;
  color: #757575;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-social:not(:last-child) {
  margin-right: 10px;
}

.team-social:hover .social-link, .team-social:focus-within .social-link, .team-social:hover .social-icon, .team-social:focus-within .social-icon {
  background-color: #2196f3;
  fill: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.client {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client {
    width: calc((100% - 180px) / 6);
  }
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .client-link {
    max-width: 170px;
  }
}

.client:hover .client-link, .client:focus-within .client-link {
  fill: #2196f3;
  border: 1px solid #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: #afb1b8;
}

.client:hover .client-icon, .client:focus-within .client-icon {
  fill: #2196f3;
}

.secondary-accent {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .foot-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer {
  background-color: #2f303a;
}

.footer .address, .footer .link {
  font-size: 14px;
  line-height: 1.71;
}

.footer .us {
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer .us {
    margin-bottom: 9px;
  }
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .social {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer .social {
    padding-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .social {
    margin-right: 94px;
  }
}

.foot-contact .address {
  color: #ffffff;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .foot-contact .address {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .foot-address {
    margin-bottom: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .foot .address {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .foot-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
  }
}

.foot-nav .logo {
  padding-top: 60px;
  text-align: center;
}

@media screen and (max-width: 1190px) {
  .foot-nav .logo {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .foot-nav .logo {
    padding-bottom: 8px;
    margin-right: 0;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .foot-contact {
    margin-right: 204px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .foot-contact {
    margin-right: 69px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 9px;
    padding-left: 0;
  }
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 767px) {
  .footer .social-link {
    margin-bottom: 60px;
  }
}

.footer .social-link:not(:last-child) {
  margin-right: 10px;
}

.footer .social-link:hover, .footer .social-link:focus {
  background-color: #2196f3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-icon {
  fill: #ffffff;
}

.join,
.subscribe-caption {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join,
  .subscribe-caption {
    text-align: start;
  }
}

.subscribe-form {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-caption {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
}

.subscribe-input {
  display: block;
  padding-left: 16px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
}

@media screen and (max-width: 1190px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    max-width: 358px;
    padding-right: 295px;
    margin-right: 12px;
  }
}

.subscribe-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 12px;
  }
}

.subscribe-icon {
  position: absolute;
  top: 13px;
  left: 148px;
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.join.title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 55px 10px 56px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button {
  display: block;
  border-radius: 4px;
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .button {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    padding-top: 94px;
  }
}

.filters .nav-button {
  margin-bottom: 15px;
}

.filters .nav-button:not(:last-child) {
  margin-right: 8px;
}

.nav-button .button:hover, .nav-button .button:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-name {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-bottom: 94px;
  }
}

.portfolio .item {
  display: block;
  max-width: 450px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .portfolio .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio .item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.item-content {
  display: block;
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.example {
  display: block;
  text-decoration: none;
}

.example .title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06rem;
}

.example-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}

.example-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  margin: 0;
  padding: 77px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

@media screen and (min-width: 768px) {
  .example-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .example-text {
    padding: 63px 24px;
  }
}

.portfolio-example {
  position: relative;
  overflow: hidden;
}

.item:hover .example-text, .item:focus-within .example-text, .item:hover .item-content, .item:focus-within .item-content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio .item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .item {
    width: calc((100% - 90px) / 3);
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .form {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: 100%;
  max-height: 609px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form {
    max-width: 528px;
    width: 100%;
    height: 581px;
  }
}

.form-caption {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  color: #757575;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  max-width: 370px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .form-input {
    max-width: 448px;
    width: 100%;
    padding: 12px 0px 12px 42px;
  }
}

.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translate(-8px, -45px);
          transform: translate(-8px, -45px);
}

.form-input:focus, .comment:focus {
  outline: 1px solid #2196f3;
}

.icon {
  position: absolute;
  top: 11px;
  left: 16px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.form-field:focus-within > .icon {
  fill: #2196f3;
}

.input-icon {
  width: 18px;
  height: 18px;
}

.comment {
  max-width: 370px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .comment {
    max-width: 448px;
    width: 100%;
    padding: 12px 16px;
  }
}

.comment-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field:focus-within > .comment-label,
.comment:not(:placeholder-shown) + .comment-label {
  color: #2196f3;
  -webkit-transform: translate(-8px, -35px);
          transform: translate(-8px, -35px);
}

.btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-close:hover {
  fill: #2196f3;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1.5px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: content-box;
}

.conditions {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */