
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $accent-color: #2196f3;
    $title-accent-color: #ffffff;
    $footer-accent-color: rgba(255, 255, 255, 0.6);
    $background-color: #e5e5e5;
    $background-accent-color: rgba(47, 48, 58, 0.8);
    $footer-background-color: #2f303a;
    $link-color:  #afb1b8;

    $primary-font: Roboto, sans-serif;
    $secondary-font: Raleway, sans-serif;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    $duration: 250ms;
  
  
  